<div class="table-responsive-sm">
    <table class="table table-bordered table-hover">

        <thead class="thead-dark">
            <th>nome</th>
            <th>email</th>
            <th>telefone</th>
            <th>cep</th>
            <th>rua</th>
            <th>bairro</th>
            <th>cidade</th>
            <th>estado</th>
            <th>ddd</th>
        </thead>
        <tbody>
            <tr *ngFor="let p of pessoas">
                <td>{{p.dadosPessoais.nome}}</td>
                <td>{{p.dadosPessoais.email}}</td>
                <td>{{p.dadosPessoais.telefone}}</td>
                <td>{{p.endereco.cep}}</td>
                <td>{{p.endereco.logradouro}}</td>
                <td>{{p.endereco.bairro}}</td>
                <td>{{p.endereco.localidade}}</td>
                <td>{{p.endereco.uf}}</td>
                <td>{{p.endereco.ddd}}</td>
            </tr>
        </tbody>
    </table>
</div>